@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Patrick+Hand&display=swap');

:root {
    --header-font: "Chewy";
    --body-font: "Patrick Hand";

    --bg-color: rgb(24, 26, 24);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: var(--body-font), system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

body {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    position: relative;
    background-color: var(--bg-color);
    color: white;
}

.container {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    letter-spacing: 4px;
}

#search-bar {
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

h2 {
    font-size: 1.5rem;
    color: #000;
    background-color: rgb(212, 214, 216);
    padding: 5px 20px;
    border-radius: 8px
}

span {
    font-size: 1.7rem;
    font-weight: 900;
    color: rgb(238, 153, 131);
}

.items {
    display: flex;
    overflow-x: auto;
    gap: 5px;
    scrollbar-width: none;

    -webkit-user-select: none;
    user-select: none;
}

.item {
    max-width: 140px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    display: block;
    max-height: 200px;
}

a {
    text-decoration: none;
    touch-action: manipulation;
}

.item img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}