@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Patrick+Hand&display=swap');

:root {
    --header-font: "Chewy";
    --body-font: "Patrick Hand";
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: var(--body-font), system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

body {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    position: relative;
    background-color: rgb(24, 26, 24);
    color: white;
}

.container {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    letter-spacing: 4px;
}

#search-bar {
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

h2 {
    font-size: 1.5rem;
    color: #000;
    background-color: rgb(212, 214, 216);
    padding: 5px 20px;
    border-radius: 8px
}

span {
    font-size: 1.7rem;
    font-weight: 900;
    color: rgb(238, 153, 131);
}

.list {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.anime img {
    width: 140px;
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}